$root-class: "divider";

.#{$root-class} {
  &\:direction-vertical {
    width: 1px;
    height: 100%;
  }

  &\:direction-horizontal {
    width: 100%;
    height: 1px;
  }

  &\:variant-light {
    background: $light-blue-300;
  }

  &\:variant-dark {
    background: $dark-blue-400;
  }
}