$root-class: "preloader";

.#{$root-class} {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: $neutral-white;

  &__circle {
    width: 64px;
    height: 64px;
    border: 4px solid $dark-blue-050;
    border-top-color: $dark-blue-500;
    border-radius: 50%;
    animation: spin 1s infinite;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}