$root-class: "section-intro";

.#{$root-class} {
  &__description {
    color: $light-blue-800;
  }

  &__form {
    gap: 12px;
  }

  &__illustration {
    width: 100%;
    height: 420px;
    background-image: url("../../../assets/images/illustration-1.svg");
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  @include breakpoint(sm) {
    &__wrapper {
      margin: 0 -20px;
      border-radius: 0;
    }
  }
}