/*
* Fonts
*/

$font-family: "Poppins";
$font-family-alt: "Sen";
$font-weights: (
  light: 300,
  regular: 400,
  medium: 500,
  semibold: 600,
  bold: 700
);
$font-base-size: 16px;
$font-root-path: "../../assets/fonts";

/*
* Grid
*/

$grid-column-count: 12;
$grid-column-gap: 20px;

$container-width: (
  default: 1140px,
  xl: 960px,
  lg: 720px,
  md: 540px,
  sm: 100%,
);

$breakpoints: (
  xl: 1200px,
  lg: 990px,
  md: 770px,
  sm: 580px,
);

/*
* Colors
*/

$neutral-white: #FFFFFF;

$dark-blue-050: #E8E8E8;
$dark-blue-100: #CECED3;
$dark-blue-200: #9EA0A5;
$dark-blue-300: #6D707A;
$dark-blue-400: #3D3F4F;
$dark-blue-500: #0C1121;
$dark-blue-600: #0A0C1C;
$dark-blue-700: #070A14;
$dark-blue-800: #05070C;
$dark-blue-900: #020207;

$light-blue-050: #F7F7F9;
$light-blue-100: #EFEFF4;
$light-blue-200: #E0E2E8;
$light-blue-300: #D1D3DD;
$light-blue-400: #C1C4D1;
$light-blue-500: #B2B5C6;
$light-blue-600: #8E919E;
$light-blue-700: #6B6D77;
$light-blue-800: #47494F;
$light-blue-900: #232328;

$orange-050: #FFEFED;
$orange-100: #FFDDDD;
$orange-200: #FFBFBC;
$orange-300: #FFA09B;
$orange-400: #FF8277;
$orange-500: #FF6059;
$orange-600: #CC4F44;
$orange-700: #993A35;
$orange-800: #662623;
$orange-900: #331111;

$cyan-050: #E5F7F7;
$cyan-100: #CCF2EF;
$cyan-200: #99E2E0;
$cyan-300: #66D3D1;
$cyan-400: #33C4C1;
$cyan-500: #00B7B5;
$cyan-600: #00918E;
$cyan-700: #006D6B;
$cyan-800: #004947;
$cyan-900: #002623;

/*
* Spacing Directions
*/

$spacing-directions: (
  top,
  left,
  right,
  bottom
);

/*
* Display
*/

$display-props: (
  block,
  inline-block,
  flex,
  inline-flex,
  none
);

/*
* Flex Direction
*/

$flex-direction-props: (
  "row",
  "column",
  "row-reverse",
  "column-reverse"
);

/*
* Justify Content
*/

$justify-content-props: (
  "flex-start",
  "flex-end",
  "center",
  "space-between",
  "space-around",
  "space-evenly"
);

/*
* Align Items
*/

$align-items-props: (
  "flex-start",
  "flex-end",
  "center",
  "baseline",
  "stretch"
);

/*
* Wrap
*/

$flex-wrap-props: (
  "nowrap",
  "wrap",
  "wrap-reverse"
);