mixin box(props = {})
  - const rootClassName = "box";
  - const className = props.class || null;
  - const style = props.style || null;
  -
    const classes = [
      rootClassName,
      className
    ];

  div(
    class = classes 
    style = style
  )
    block