$root-class: "box";

.#{$root-class} {
  transition-duration: 0.2s;
  transition-property: border, box-shadow;

  &\:variant-outline {
    border: 1px solid $light-blue-300;
    border-radius: 12px;

    &:hover {
      box-shadow: 0 16px 54px rgba(0 0 0 / 5%);
    }
  }

  &\:variant-filled {
    background: $light-blue-050;
  }

  &\:radius-sm {
    border-radius: 12px;
  }

  &\:radius-md {
    border-radius: 24px;
  }
}