mixin sectionSubscribe(props = {})
  - const rootClassName = "section-subscribe";
  - const className = props.class || null;
  - const style = props.style || null;
  - const heading = props.heading || [];
  - const description = props.description || "";
  - const inputPlaceholder = props.inputPlaceholder || "";
  - const buttonLabel = props.buttonLabel || "";
  -
    const classes = [
      rootClassName,
      className,
      "pt-0",
      "pb-92",
      "lg:pb-44",
      "sm:pb-24"
    ];

  section(
    class = classes 
    style = style
  )

    // Start: [container] 
    +container()

      // Start: [box/section-subscribe__wrapper]
      +box({
        class: [
          `${rootClassName}__wrapper`,
          "py-64", 
          "px-64",
          "sm:py-20",
          "sm:px-20"
        ],
        variant: "filled",
        radius: "md"
      })

        // Start: [grid] 
        +grid({class: "justify-content-center"})

          // Start: [column-6] 

          +column({
            class: [
              "column-6",
              "xl:column-8",
              "lg:column-12"
            ]
          })

            // Start: [section-heading] 
            +sectionHeading({
              class: [
                "text-align-center", 
                "lg:text-align-left", 
                "mb-24", 
                "sm:mb-12"
              ],
              heading: heading,
              description: description
            })
            // End: [section-heading] 

            // Start: [stack/section-subscribe__form] 
            +stack({
              class: [
                `${rootClassName}__form`,
                "sm:flex-direction-column"
              ]
            })
              
              // Start: [text-field] 
              +textField({placeholder: inputPlaceholder})
              // End: [text-field] 
              
              // Start: [button] 
              +button({label: buttonLabel, variant: "primary-dark"})
              // End: [button] 
            // End: [stack/section-subscribe__form] 
          // End: [column-6] 
        // End: [grid] 
      // End: [box/section-subscribe__wrapper] 
    // End: [container]