$root-class: "typography";

$heading-variants: (
  h1: (
    default: (font-size: 64px, line-height: 72px),
    xl: (font-size: 60px, line-height: 68px),
    lg: (font-size: 56px, line-height: 64px),
    md: (font-size: 52px, line-height: 60px),
    sm: (font-size: 36px, line-height: 44px),
  ),
  h2: (
    default: (font-size: 44px, line-height: 52px),
    md: (font-size: 40px, line-height: 48px),
    sm: (font-size: 28px, line-height: 36px),
  ),
  h3: (
    default: (font-size: 20px, line-height: 28px),
  )
);

.#{$root-class} {
  display: block;
  font-family: $font-family;

  /*
  * Weigths
  */

  @each $weight, $value in $font-weights {
    &\:weight-#{$weight} { font-weight: $value; }
  }

  /*
  * Headings
  */

  @each $heading, $breakpoints in $heading-variants {
    &\:variant-#{$heading} {
      font-family: $font-family-alt;
      font-weight: map-get($map: $font-weights, $key: bold);

      @each $breakpoint-name, $breakpoint-styles in $breakpoints {
        $current-breakpoint-style: map-get($map: $breakpoints, $key: $breakpoint-name);
        @if $breakpoint-name == default {
          @include each-styles($current-breakpoint-style);
        } @else {
          @include breakpoint($breakpoint-name) {
            @include each-styles($current-breakpoint-style);
          }
        }
      }
    }
  }

  /*
  * Body text
  */

  &\:variant-body-small {
    font-size: 14px;
    line-height: 22px;
  }

  &\:variant-body-default {
    font-size: $font-base-size;
    line-height: 26px;
  }

  &\:variant-body-large {
    font-size: 18px;
    line-height: 28px;
  }

  /*
  * Other
  */

  span {
    display: block;
    overflow: hidden;
  }
}