$root-class: "nav";

.#{$root-class} {
  display: flex;

  &__link {
    display: block;
    padding: 16px;
    border-radius: 8px;
    color: $light-blue-800;
    text-decoration: none;
    transition-duration: 0.1s;
    transition-property: background, color;

    &:hover {
      background: $light-blue-050;
      color: $dark-blue-500;
    }
  }

  @include breakpoint(lg) {
    flex-direction: column;
    text-align: center;
  }
}